/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 5, 2020, 11:18:02 AM
    Author     : Isuru Mendis
*/

.navbar-brand{
 
    font-weight: bold;
   

}

.logo{

   
   padding-left: 18px;
   padding-right: 18px;
   padding-bottom: 35px;
   width: 250px;
   height: 190px;
   z-index: 1;
   position: relative;
}

.navbar-nav{

font-weight: bold;


}


.font{

	color: white;
}



#toprow{

   margin-top: 100px;
   text-align: center;

}

#toprow h1{

font-weight: bold;
color: #610B0B;


}

.btnfocl{

	color: white;
	padding-bottom: 70px;
       font-weight: bold ;
}





.btnfoc2{

	color: white;
	margin-top: 7px;
       font-weight: bold ;
       margin-left: 560px;
       
}

.btnfoc3{

	color: white;
	padding-bottom: 70px;
       font-weight: bold ;
      
       
}
.btnfoc4{

	color: white;
	margin-top: 7px;
       font-weight: bold ;
       margin-left: 0px;
       
}

.btnfoc5{

    color: #ff9900;
	margin-top: 7px;
       font-weight: bold ;
       margin-left: 303px;
       background-color: white;
       border-color: #ff9900;
       
}
#toprow h6{

	font-weight: bold;
}


.title{

	width: 70%;
	height: 55px;
	background-color: black;
  border: 1px solid black;
  opacity: 0.7;
  filter: alpha(opacity=60); 

}


.form-group1{

	 padding-left: 350px;
 padding-top: 5px;
 font-weight: bold;
 color: maroon;
 font-size: 15px;

 
  
 }


.title1{

	width: 70%;
	height: 55px;
	background-color: black;
  border: 1px solid black;
  opacity: 0.7;
  filter: alpha(opacity=60); 

}

.title2{

	width: 70%;
	height: 200px;
	background-color: black;
  border: 1px solid black;
  opacity: 0.7;
  filter: alpha(opacity=60); 

}


.title3{

	width: 70%;
	height: 55px;
	background-color: black;
  border: 1px solid black;
  opacity: 0.7;
  filter: alpha(opacity=60); 

}


.title4{

	width: 70%;
	height: 55px;
	background-color: black;
  border: 1px solid black;
  opacity: 0.7;
  filter: alpha(opacity=60); 

}
.twoline {
       overflow: visible;
    position: relative;
    line-height: 18px; 
    
/*     height must be a multiple of line-height for how many rows you want to show (height = line-height x rows) */
    height: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
     }
    
   .twoline1{
       overflow: visible;
    position: relative;
    line-height: 25px; 
    
/*     height must be a multiple of line-height for how many rows you want to show (height = line-height x rows) */
    height: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
     }
     
     .padd{
         
       margin-top: -10px;
       font-weight: bold;
     }
    
   
   .lable1{
       
       float: left;
       
   }
   
   .lable2{
       float: right;
       margin-right: 75px;
   }
   
   .lable3{
    color: white;
    font-size: 14px;
    float: right;
     position: relative;
     font-weight: bold;
     
       
   }
   
   
   .lable4{
       
      margin-right: 125px;
   }
   
    .lable5{
       
      margin-right: 120px;
   }
   
   .hex{
 
       padding-left: 150px;
  
   }
   
   .prigh{
       float: right;
        overflow: visible;
    position: relative;
    line-height: 18px; 
    width: 150px;
    
    
   
    
/*     height must be a multiple of line-height for how many rows you want to show (height = line-height x rows) */
    height:auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
  
       
   }
    
   .pleft{
       
       float: left;
        overflow: visible;
    position: relative;
    line-height: 18px; 
    width: 150px;
    
   
    
/*     height must be a multiple of line-height for how many rows you want to show (height = line-height x rows) */
    height:auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
  
   }
   
  
   
   
    
    body{
       background-color: #efefef !important; 
    }
    
     .popup{
           background: rgba(0, 0, 0, 0.6);
           width: 100%;
           height: 100%;
           position: absolute;
           top: 0;
           display: none;
           justify-content: center;
           align-items: center;
           text-align: center;
           
           
       } 
       
       .popup-content{
           height: 284px;
           width: 500px;
           background: #fff;
           padding: 20px;
           border-radius: 5px;
           position: relative;
       }
       
      .hel{
           
           margin: 20px auto;
           display: block;
           width: 50%;
           padding: 8px;
           border: 1px solid gray;
       }
       
       .close{
           position: absolute;
           top: -25px;
           right: -25px;
           background: #fff;
           border-radius: 50%;
           box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
           cursor: pointer;
       }
       
      
     .popup1{
           background: rgba(0, 0, 0, 0.6);
           width: 100%;
           height: 100%;
           position: absolute;
           top: 0;
           display: none;
           justify-content: center;
           align-items: center;
           text-align: center;
           
           
       } 
       
       .popup-content1{
           height: 650px;
           width: 500px;
           background: #fff;
           padding: 20px;
           border-radius: 5px;
           position: relative;
       }
       
      .hel1{
           
           margin: 20px auto;
           display: block;
           width: 50%;
           padding: 8px;
           border: 1px solid gray;
       }